body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgb(236, 250, 236);
    display: grid;
    grid-template-columns: [c1] 100px [c2] 1fr [c3] 2fr [c4] minmax(100px, 1fr) [c5];
    grid-template-rows: [r1] 100px [r2] 100px [r3] 100px [r4];
    gap: 10px 20px;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    align-content: start;
}

.container>div {
    text-align: center;
    line-height: 100px;
    background-color: rgb(159, 159, 255);
    border: 1px solid #e5e4e9;
}